<div class="book-container">
    <!-- Previous button -->
    <button #prevBtn id="prev-button"  (click)="goPrevPage()">
        Arrow
    </button>

    <!-- Book -->
    <div #book class="book">
        <!-- Page 1 -->
        <div class="paper" id="p1" [ngClass]="{ 'flipped': flippedPages[1] }">
            <div class="front">
                <div class="front-content" id="f1">
                    <h1>Front 1</h1>
                </div>
            </div>
            <div class="back">
                <div class="back-content" id="b1">
                    <h1>Back 1</h1>
                </div>
            </div>
        </div>

        <!-- Page 2 -->
        <div class="paper" id="p2" [ngClass]="{ 'flipped': flippedPages[2] }">
            <div class="front">
                <div class="front-content" id="f2">
                    <h1>Front 2</h1>
                </div>
            </div>
            <div class="back">
                <div class="back-content" id="b2">
                    <h1>Back 2</h1>
                </div>
            </div>
        </div>

        <!-- Page 3 -->
        <div class="paper" id="p3" [ngClass]="{ 'flipped': flippedPages[3] }">
            <div class="front">
                <div class="front-content" id="f3">
                    <h1>Front 3</h1>
                </div>
            </div>
            <div class="back">
                <div class="back-content" id="b3">
                    <h1>Back 3</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Next button -->
    <button #nextBtn id="next-button" (click)="goNextPage()">
        Arrow
    </button>
</div>
